doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Raleway:100,200,300',rel='stylesheet',type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,100',rel='stylesheet',type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Exo+2:200,300,100',rel='stylesheet',type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Exo:200,300,100',rel='stylesheet',type='text/css')
    title Countdown
  body
    .countdown
      .days-container
        .days
        span days
      .hours-container
        .hours
        span hours
      .minutes-container
        .minutes
        span minutes
      .seconds-container
        .seconds
        span seconds